.postFormContainer{
    margin: auto;
    padding: 15px;
    
    &MainContainer{
            display: flex;
            flex-direction: column;       
    }
    &BottomContainer{            
            display: flex;
            justify-content: space-around;           
            padding: 15px;             
        
    }


}

.postMsgContainer{
        margin: auto;
        padding: 15px;
        display: flex;
        flex-direction: column;       
        justify-content: center;
        align-items: center;
}

.primaryDropdownError{
        color: red;
        font-size: 12px;
        font-weight: 500;
        text-transform: capitalize;        
    }